* {
    margin: 0;
    padding: 0;
    color: #020216;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --link-dark: #020216;
    --ascend-green: rgb(167, 228, 87);
}

.link {
    color: #1a2f55;
}

body {
}

.menuHome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    background-color: rgb(167, 228, 87);
}

.superDaddy {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 50px;
}

.content1 {
    width: 70%;
    padding: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content1 .tip {
    margin: 50px 0;
}

.content1 .tip2 {
    margin-bottom: 10px;
    display: none;
}

.content1 input {
    margin: 20px 0;
    border-bottom: 1px solid black;
    width: 20%;
}

.content1 button {
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    color: var(--link-dark);
    font-weight: bold;
    font-size: larger;
}

.content1 button:hover{
    background-color: var(--ascend-green);
    transition: .5s ease;
}

#starting {
    display: none;
}
#started {
    display: none;
}

#finish {
    display: none;
}

.content2 {
    width: 30%;
    border: 1px solid black;
    border: 1px solid blue;
    padding: 60px 25px 25px 25px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content2Info {
    position: absolute;
    top: 10px;
    padding: 5px;
    color: var(--link-dark);
    font-weight: bold;
}

.content2Info:hover {
    background-color: var(--ascend-green);
    transition: all 0.5s;
    cursor: pointer;
}

.content2Info a {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.reloadImg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.tickets {
    /* width: 40%; */
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted var(--ascend-green);
}

.tickets:hover{
    background-color: var(--ascend-green);
    transition: all 0.5s;
    cursor: pointer;
}

.ticketsText {
    margin-right: 10px;
}

/* .tickets div {
    border: 1px dotted red;
    padding: 5px;
    display: flex;
    flex-direction: row;
} */