.containerCharts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.charts {
    width: 90% !important;
    margin-top: 20px;
}

.inputsData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    width: 100%;
}

.inputsContainer>div {
    /* margin: 2px 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputsContainer>div>input {
    margin-left: 5px;
}

.buttonInputs {
    width: 100%;
    background-color: #084b8a;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.selectDays {
    background-color: #fff;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
}

.canvasChart {
    border: 1px solid #084b8a;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    width: 50% !important;
}

.barChart {
    width: 100% !important;
}

.infosChart {
    /* width: 90%; */
    background-color: #084b8a;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.infosChart p {
    color: #fff !important;
    font-weight: bold;
}

#loginVerify {
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#loginVerify>div {
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}