* {
  margin: 0;
  padding: 0;
  color: #020216;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}

:root {
  --link-dark: #020216;
  --ascend-green: #084b8a;
}

.link {
  color: #fff;
}

.menuHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  background-color: #084b8a;
}

.menuHome p,
a {
  color: #fff !important;
}

.textLink {
  cursor: pointer;
  color: #917b00 !important;
  font-weight: bold;
  transition: all 0.5s linear;
}

.textLink:hover {
  scale: 120%;
  text-decoration: underline;
}

.superDaddy {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 50px;
}

.content1 {
  width: 67%;
  padding: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content1 .tip {
  margin: 50px 0;
}

.content1 .tip2 {
  margin-bottom: 10px;
  display: none;
}

.content1 input {
  margin: 20px 0;
  border-bottom: 1px solid black;
  width: 20%;
}

.content1 button {
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  color: var(--link-dark);
  font-weight: bold;
  font-size: larger;
}

.content1 button:hover {
  background-color: var(--ascend-green);
  transition: 0.5s ease;
}

#starting {
  display: none;
}

#started {
  display: none;
}

#finish {
  display: none;
}

.content2 {
  width: 33%;
  border: 1px solid black;
  border: 1px solid blue;
  padding: 60px 25px 25px 25px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.content2Info {
  position: absolute;
  top: 10px;
  padding: 5px;
}

.content2Info a,
p {
  color: var(--link-dark) !important;
  font-weight: bold;
}

.content2Info:hover {
  background-color: var(--ascend-green);
  transition: all 0.5s;
  cursor: pointer;
}

.content2Info a {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.reloadImg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

#reloadTickets,
#reloadTickets2 {
  color: #020216 !important;
}

.content2Info {
  color: #020216 !important;
}

.tickets {
  /* width: 40%; */
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px dotted var(--ascend-green);
}

.tickets:hover {
  background-color: var(--ascend-green);
  transition: all 0.5s;
  cursor: pointer;
}

.firstTicketToCall {
  color: #fff !important;
}

.ticketsText {
  margin-right: 10px;
  color: #020216;
}

/* .tickets div {
    border: 1px dotted red;
    padding: 5px;
    display: flex;
    flex-direction: row;
} */
